<header class="container">
  <nav class="navbar navbar-light bg-light p-1">
    <a class="navbar-brand" href="/">
      <img src="https://cdn.iconscout.com/icon/free/png-256/node-js-1-1174935.png" width="30" height="30"
        class="d-inline-block align-top" alt="Node Icon" />
      JEHN Stack
    </a>
    <a class="nav-item nav-link" href="/">Home</a>
    <a class="nav-item nav-link" href="/json">JSON Data</a>
    <a class="nav-item nav-link" href="/api">API Data</a>
  </nav>
</header>